h1{
    text-size-adjust: 18px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #f6f5f5;
}

.jumbotron-with-icon p {
    font-family: 'Roboto Slab', sans-serif;
    color: #ffffff;
    font-weight: 300;
  }

.gradient-background{
    background-size: cover;
    background-position: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/151/829/original/blue-lights-matrix-background-vector.png");

   
}

.jumbotron-with-icon{
    background-image: url("https://img.freepik.com/free-vector/cyber-technology-background_23-2148390330.jpg");
    background-size: cover;
    background-position: center;
}

.text-body-secondary{
    font-family: 'Roboto Slab', sans-serif;
    font-size: x-large;
    font-weight: 400;
    color: #ffffff;
}

#content h1{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bolder;
}
